# Локальное виртуальное окружение
venv
.env
*.pyc
__pycache__/
*.pyo
*.pyd
.Python

# Логи
*.log

# Медиа (загруженные пользователями файлы)
media/

# Кэш и временные файлы
*.sqlite3
*.db
.DS_Store
Thumbs.db

# Git и IDE
.git
.gitignore
.idea/
.vscode/
*.swp
